@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "./components/searchbar.css";
@import "./components/datetime.css";

:root {
    --accent-color: #CAA0FF;
    --background-color: #101010;
    --overlay-color: #1a1a1a;
    --sub-color: #a0a0a0;
    --selection-color: #101010;
}

body {
  background: var(--background-color);
  color: #FFF;
  font-family: 'JetBrains Mono', monospace;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.align-center {
  justify-content: center;
}

.vertical-center {
  align-items: center;
  height: 100vh;
}

::selection {
  background-color: var(--accent-color);
  color: var(--selection-color);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  opacity: 0;
  animation: fadeInUp 0.5s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

footer {
  color: var(--sub-color);
  padding: 15px;
  margin: 0px 10px;
  user-select: none;
}

footer-main {
  text-align: left;
}

footer a {
  text-decoration: none;
  color: var(--sub-color);
}

.highlight {
  color: var(--accent-color);
}